/*for my mobile site*/
@media (max-width: 320px){

  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: none;
  }

  #page {
    max-width: 400px;
    min-width: 300px;
    background-color: #fff;
    padding: 0em;
  }

  h1 {
    margin: 0.5em auto 1.4em;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 2em;
    text-align: center;

  }

  #menu {
      padding: 0em;
      border: none;
      text-align: left;
      margin: 0em;
      border: none;
  }
  #menu li {
    display: default;
    margin: 0em;
  }

  #menu a {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    padding: 0.5em;
    }

  a.buttons{
    text-decoration: none;
    color: #000;
  }

  figure{
      float: none;
      margin: 2em auto 0em auto;
  }

  #ContactMe a {
    font-weight: bold;
  }
  address {
    margin: 1em auto;
    float: none;
  }
  #email{
    padding: 0.5em;
  }
  #email a {
    float: none;
    font-weight: bold;
  }
  #education h2 {
    margin-top: 0.5em;
  }

  footer {
    margin: 5em auto;
    border-top: 1px solid #1793cd;
  }

}
